---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>About</title>
  </head>
  <body>
    <a href="/">Home</a>

    <h1>More on this exciting task...</h1>
    <h3>Shipping a new way for Fact Makers.</h3>
    <p>
      It's not just about telling the truth or looking for whom to blame. We all
      have an imperious desire to know how things have been done or accomplished
      in our daily lives and the stuff we care about. And that's <strong
        >OK.</strong
      > However, shouldn't we seek for a form of truth that truly makes our
      reality more interesting and appealling? Isn't there a one-fits-all path
      which could lead us to a world where our actions mark every and each one
      of us completely onto the steps of History, but at the same time, gives us
      the power of redeem ourselves through little actions and rewards, to the
      point of even rewrite our personal story of life?
    </p>
    <p>
      Many centuries have passed where humanity has tried to fit facts in
      refined cups of tea, hoping that good taste becomes their signature of
      authenticity and trust. Well, that's only a part of the whole tale. We can
      do better, and not only that: we can make <strong>people</strong> better.
    </p>
  </body>
</html>
