---
import Social from "./Social.astro";
---

<footer>
  <p>Wait for the next sunflare in</p>
  <ul>
    <li>
      <Social platform="github" username="NokivaF" />
    </li>
    <li>
      <Social platform="X" username="fun_iqp" />
    </li>
  </ul>
</footer>

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>
